<html ng-app="managerApp">
    <head>
         <link rel="stylesheet" type="text/css" href="../../vendor/css/bootstrap.min.css">
    </head>
    <body ng-controller="dataListCtrl">
        <span>{{message}}</span>
        <div>
            <p class="bg-primary lead" style="height: 45px; padding: 7px 5px; ">
                Neobux Manager. Total referrals: {{referrals.length}} | B.E.P 0.51
                 <button style="float:right; display: block;" type="button" class="btn btn-danger" ng-click="close()">&times</button>
            </p>
        </div>
        <div class="container" style="padding-top:30px;">
            <div class="row">
                <div class="col-md-6"></div>
            </div>
            <div class="row" style="margin-bottom: 10px; margin-top:10px;">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Search</span>
                        <input type="text" class="form-control" placeholder="Referral" aria-describedby="basic-addon1" ng-model="searchReferral">
                    </div>
                    <button ng-click="filterType='recy'">F</button>
                    <button ng-click="filterType=''">Rst</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-3" style=" overflow-y: auto; height: 495px;">
                    <span class="list-group" ng-repeat="r in referrals| filteredReferrals: filterType" style="margin-bottom: 0px;">
                        <span class="list-group-item">
                            <a href="#" ng-click="detailed(r)">{{r.id}}</a>
                            <a href="#" ng-show="!r.toberecycled" style="width:10px" ng-click="recycle(r)">Recycle</a>
                        </span>
                    </span>
                </div>
                <div class="col-md-9" ng-if="expander">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                           ID: {{currentreferral.id}} Average: {{currentreferral.avg}} Click: {{currentreferral.clicks}} Last Click: {{currentreferral.lastclick}}</br>
                           Since: {{currentreferral.since}} Expire: {{currentreferral.next}}
                        </div>
                        <div class="panel-body" style="overflow-y: auto; height: 430px;">
                            <content data="expander"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p style="height: 10px;">
                <center>Copyright: Cristian Pela @2015</center>
            </p>
        </div>
       
        <!--<table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Since</th>
                <th>Next Payment</th>
                <th>Last Click</th>
                <th>Clicks</th>
                <th>Average</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="r in referrals">
                    <td>{{r.id}}</td>
                    <td>{{r.since}}</td>
                    <td>{{r.next}}</td>
                    <td>{{r.lastclick}}</td>
                    <td>{{r.clicks}}</td>
                    <td>{{r.avg}}</td>
                    <td><button ng-click="detailed(r)">...</button></td>
                </tr>
            </tbody>
        </table>-->
    </body>
</html>