<!DOCTYPE html>

<html>
<head>
    <title>Page Title</title>
     <link rel="stylesheet" type="text/css" href="../../vendor/css/bootstrap.min.css">
</head>

<body ng-app="app" ng-controller="ctrl">
 <ul ng-repeat="r in referrals track by $index">
    <li style="margin-right: 10px;"><a href="#" ng-click="detail(r)">Referral {{$index}}</a></li>
</ul>
<div ng-if="expander">
    <content data="expander"/>
<div>
</body>
<script src="https://code.jquery.com/jquery-git2.min.js"></script>
<script src="../../vendor/js/angular.min.js"></script>
<script>
angular.module("app",[])
.controller("ctrl",function($scope,Expander){
    var referral1={clicklisting:[
            {date:"2015/01/03",
            clicks:4},
            {date:"2015/01/09",
            clicks:4},
            {date:"2015/01/15",
            clicks:4}
        ]},
        referral2={clicklisting:[
            {date:"2014/12/06",
            clicks:"3"},
            {date:"2015/01/01",
            clicks:"0"},
            {date:"2015/01/05",
            clicks:"4"},
            {date:"2015/01/07",
            clicks:"3"},
            {date:"2015/01/15",
            clicks:"4"}
        ]};
    $scope.referrals=[referral1,referral2];
    $scope.detail=function(referral){
        var exp=Expander.expand(referral);
        $scope.expander=exp.details();
    }
   // $scope.model=Expander.modeled($scope.expander);
})
.directive("content",function(Expander,Utils){
    return{
        restrict:'E',
        scope:{
                data:"=data"
            },
        templateUrl:"partials/referralChart.html",
        controller: function crtl($scope){
            var today=new Date();
            $scope.showTooltip=function(entry){
                $scope.tooltip=entry.date;
            };
            $scope.hasPassedToday=function(date){
                return Utils.dateDifference(today,date)>=0;
            };
        },
        link:function(scope,element,attrs){
            scope.$watch('data',function(){
                scope.model=Expander.modeled(scope.data);
                element.hide(function(){
                    element.slideToggle();
                });
            });
        }
    }
})
.factory('Utils',function(){
    return{
        dateDifference:function(startDate,endDate){
            endDate=(!endDate)?new Date():(endDate instanceof Date)? endDate:new Date(endDate);
            startDate=(startDate instanceof Date)? startDate:new Date(startDate);
            return Math.floor((endDate-startDate) / (1000*60*60*24));
        },
        nextDate:function(startDate,days,format){
            startDate=(startDate instanceof Date)? startDate:new Date(startDate);
            startDate.setDate(startDate.getDate()+days);
            format=format||"%Y/%m/%d";
            return this.format(startDate,format);//startDate.toLocaleFormat(format);
        },
        format:function(date,format){
            if (format==="%Y/%m/%d") {
                var m=date.getMonth()+1;
                var y=date.getFullYear();
                var d=date.getDate();
                return y+'/'+((m<10)?('0'+m):m)+"/"+((d<10)?('0'+d):d);
            }else{
                var d=date.getDate();
                return ((d<10)?('0'+d):""+d);
            }
        }
    }
})
.factory('Expander',function(Utils){
    var expand=function(referral, tailDate){
        var list=referral.clicklisting.slice();
        var today=tailDate||new Date();
        if (list[list.length-1].date!==Utils.format(today,"%Y/%m/%d")) {
            list.push({
                //"date":today.toLocaleFormat("%Y/%m/%d"),
                "date":Utils.format(today,"%Y/%m/%d"),
                "clicks":0
            });
        }
        this.details=function(){
            var details=[];
            for(var l=0;l<list.length;l++){
                var clickdata=list[l];
                var nextclickdata=list[l+1];
                details.push(clickdata);
                if (nextclickdata) {
                    var curdate=new Date(clickdata.date);
                    var nextdate=new Date(nextclickdata.date);
                    var dif=Utils.dateDifference(curdate,nextdate);
                    if (dif>1) {
                        for(var i=1;i<dif;i++){
                            curdate.setDate(curdate.getDate()+1)
                            details.push({
                                date: Utils.format(curdate,"%Y/%m/%d"),
                                clicks:0
                            });
                        }
                    }
                }
            }
            var len=details.length;
            if (len%7!==0) {
                while(len%7!==0){
                    today.setDate(today.getDate()+1);
                    details.push({
                                date: Utils.format(today,"%Y/%m/%d"),
                                clicks:0
                            });
                    len++;
                }
            }          
            return details;
        };
    };
    var modeled=function(expanded){
            var months=[],monthcount=0,daycount=0,weekcount=0, lastweekinmonth=false;
            months.push(
                {clicks:0,
                interval:{start:expanded[0].date,end:Utils.nextDate(expanded[0].date,27)},
                weeks:[]});
            for(var ex=0;ex<expanded.length;ex++){
                if (daycount===0 || daycount===-2) {
                    var startdate=expanded[ex].date;
                    var justday=startdate.substring(startdate.lastIndexOf('/')+1);
                    months[monthcount].weeks.push(
                                                {clicks:0,
                                                interval:{start: justday, end: Utils.nextDate(expanded[ex].date,6,'%d')},
                                                days:[]});
                }
                months[monthcount].clicks+=+expanded[ex].clicks;
                months[monthcount].weeks[weekcount].clicks+=+expanded[ex].clicks;
                months[monthcount].weeks[weekcount].days.push(expanded[ex]);
                if (daycount++===6) {
                    weekcount++;
                    daycount=0;
                }
                if (weekcount===4) {
                    monthcount++;
                    weekcount=0;
                    var startint=Utils.nextDate(expanded[ex].date,1);
                    months.push(
                       {clicks:0,
                        interval:{start:startint,end:Utils.nextDate(startint,27)},
                        weeks:[]});
                }
            }
            return months;
        };
    return {
            expand: function(referral, tailDate){
                return new expand(referral, tailDate);
            },
            modeled:function(expanded){
                return modeled(expanded);  
            }
    }
});
</script>
</html>
