
<div class="row" ng-repeat="month in model" style="background: #FFF5F5; margin: 10px 10px; width:800px; border: solid 1px #B2B2D1;">
    <div style="float: left; background:#FFFF99; height:100px; width: 50px;padding: 20px; margin-right: 50px;">
        <span  class="badge">
            {{month.clicks}}</br>{{month.interval.start}}</br>{{month.interval.end}}
        </span>
    </div>
    <center>
        <div class="col-md-2" ng-repeat="week in month.weeks" style="margin-top: 10px; margin-right: 5px; background: #F3F3F0; width:330px;">
            <span  class="badge" style="float:left; padding: 5px;">
                {{week.clicks}}
                <span style="background: pink"></br>{{week.interval.start}}</br>{{week.interval.end}}</span>
            </span>
            <div ng-click='showTooltip(day)' class="col-md-2" ng-repeat="day in week.days"
                 style="border: solid 1px; margin:3px 3px;width:30px;height:30px;display: inline-block"
                 ng-style="(hasPassedToday(day.date))?{'background-color':'orange'}:(day.clicks>0)?{'background-color':'green'}:{'background-color':'red'}">
                {{day.clicks}}
            </div>
        </div>
    </div>
    </center>
</div>
<b>{{tooltip}}</b>

